<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <header class="nav">
        <div class="nav-box1">
            <div style="float: left;"><h2 class="logo">MoKurly</h2></div>
            <div style="float: left;" class="search-box"><input class="searchBar" type="text" placeholder="검색어를 입력해주세요"></div>
            <div class="member-box">
                <span class="mb-regist" th:onclick="|location.href='@{/member/save}'|">회원가입</span> | <span class="mb-login">로그인</span>
            </div>
        </div>
        <div class="nav-box2">
            <nav>
                <ul class="nav-container">
                    <li class="nav-item"><a href="">상품관리</a></li>
                    <li class="nav-item"><a href="">장바구니</a></li>
                    <li class="nav-item"><a href="">게시판</a></li>
                </ul>
            </nav>
        </div>
    </header>
</th:block>
</html>