.regist-box {
    border-top: 2px solid black;
    padding-top: 50px;
    width: 640px;
    margin: 0 auto
}

#rst_id,#rst_pass,#rst_passChk,#rst_name,#rst_email,#rst_phone,#rst_addrsDetail {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid gray;
}
#rst_addrs,#rst_addrsDetail {
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid gray;
}

.tb-con {
    width: 100%;
}

.btn-violet {
    width: 90px;
    height: 28px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel {
    width: 90px;
    height: 28px;
    background-color: #8e8594;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cancel > a {
    color: white;
    text-decoration: none;
}

.btn-login {
    width: 340px;
    background-color: rgb(95, 0, 128);
    padding: 0 10px;
    overflow: hidden;
    height: 54px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn-regi {
    width: 340px;
    padding: 0 10px;
    height: 54px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
    color: rgb(95, 0, 128);
    cursor: pointer;
}


#lg_id, #lg_password {
    width: 340px;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#lg_id:focus, #lg_password:focus {
    border: 2px solid blueviolet;
}

#p_message {
    font-size: 13px;
    margin-bottom: 10px;
}
