.regist-box {
    border-top: 2px solid black;
    padding-top: 30px;
    width: 640px;
    margin: 0 auto
}
.regist-divLine {
    width: 100%;
    text-align: center;
}
.flt-left{
    float: left;
}
.clr-both {
    clear: both;
}
.sp-wid {
    display: inline-block;
    width: 150px;
}

#rst_id,#rst_pass,#rst_passChk,#rst_name,#rst_email,#rst_phone,#rst_addrs {
    padding: 5px;
    margin-bottom: 10px;
}