<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/layout}">
<head>
    <link th:href="@{/css/regist.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="content">
            <div style="text-align: center">
                <h2 style="margin-bottom: 50px">로그인</h2>
                <div class="regist-box">
                    <form th:action="@{/member/login/loginExe.do}" th:object="${memberDTO}" method="post">
                        <table class="tb-con">
                            <tr>
                                <td>
                                    <input type="text" id="lg_id" th:field="*{member_id}" placeholder="아이디를 입력해주세요" maxlength="8">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="password" id="lg_password" th:field="*{password}" placeholder="패스워드를 입력해주세요" th:onkeyup="capsLockChk(event)">
                                    <p id="p_message" style="display: none;">'Cpas Lock'이 켜져 있습니다.</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input class="btn-login" type="submit" value="로그인" th:onclick="return btn_login_click()">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="button" class="btn-regi" th:onclick="|location.href='@{/member/regist}'|" value="회원가입" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>
