<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <link th:href="@{/css/regist.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/regist.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 주소찾기 -->
</head>
<body>
<th:block layout:fragment="content">
    <div class="content">
        <div style="text-align: center">
            <h2 style="margin-bottom: 50px">회원가입</h2>
            <div class="regist-box">
                <form th:action="@{/member/write}" th:object="${memberDTO}" method="post">
                    <table class="tb-con">
                        <colgroup>
                            <col width="160px" />
                            <col width="400px" />
                            <col width="180px" style="text-align: left" />
                        </colgroup>
                        <tr>
                            <td><label>아이디</label></td>
                            <td><input type="text" id="rst_id" th:field="*{member_id}" maxlength="8"></td>
                            <td style="text-align: left"><input type="button" class="btn-violet" th:onclick="btn_duplication()" value="중복확인"></td>
                        </tr>
                        <tr>
                            <td><label>비밀번호</label></td>
                            <td><input type="password" id="rst_pass" th:field="*{password}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><label>비밀번호 확인</label></td>
                            <td>
                                <input type="password" id="rst_passChk" th:onkeyup="warningTxtControll()">
                            </td>
                            <td><span class="sp_warningTxt"></span></td>
                        </tr>
                        <tr>
                            <td><label>이름</label></td>
                            <td><input type="text" id="rst_name" th:field="*{name}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><label>이메일</label></td>
                            <td><input type="text" id="rst_email" placeholder="예: moketkurly@naver.com" th:field="*{email}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><label>휴대폰</label></td>
                            <td><input type="number" id="rst_phone" placeholder="'-'없이 숫자만 입력" th:field="*{phone}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><label>주소</label></td>
                            <td>
                                <input type="text" id="rst_addrs" th:field="*{address}"><br>
                            </td>
                            <td style="text-align: left"><input type="button" class="btn-violet" th:onclick="btn_addrsSearch()" value="주소검색"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" id="rst_addrsDetail" placeholder="상세주소 입력" style="display: none" th:field="*{addrsDetail}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"><button class="btn-violet" type="submit" id="btn-save"
                                                    th:onclick="return btn_save_onclick()" style="margin-top: 50px;">가입하기</button>
                                            <button class="btn-cancel"><a th:href="@{/}">취소</a></button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>



    </div>
</th:block>
</body>
</html>
